body {
  background-color: palegreen;
}

#container {
  width: 700px;
  height: 100%;
  top: 0;
  bottom: 0;
  background-image: url("../tealeaf.png");
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: auto;
}

li {
  /*font-size: 18pt;*/
   
}


#app {
  width: 80%;
  height: 90%;
  margin: auto;
  left: 0;
  right: 0;
  text-shadow:
    -1px -1px 0 palegreen,
    1px -1px 0 palegreen,
    -1px 1px 0 palegreen,
    1px 1px 0 palegreen; 
}

h1 {
  font-size: 42pt;
  font-family: serif;
  text-align: center;
  /*padding-bottom: 36px;*/
}

ul
{
list-style-type: none;
}

#list {
  width: 80%;
  height: auto;
  position: relative;
  margin: auto;
  text-align: center;
  top: 5%;
}

#timer {
  font-size: 2.5em;
}
.teaName {
  font-size: 3em;
  margin: 0px;
  margin-top: 10px;
}

.teaInfo {
  font-size: 1.5em;
  margin-top: 0px;
  border: 0px;
}
